<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Реферальная программа</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">
    <header class="main-header">
      <div class="uk-container">
        <div class="main-header__inner">
          <a href="/" class="logo">
            <svg class="logo__img" viewBox="0 0 936 316">
              <path d="M136.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2
                                C141.2,192.6,140.1,196.6,136.9,198.3L136.9,198.3z M101.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8
                                l36.6-68.2c1.2-2.2,3.5-3.5,5.9-3.4c0.1,0,0.5,0,0.5,0c0.1,0,0.6,0,0.7,0c0.8,0.1,1,0.4,1.7,0.8
                                C102.1,120.4,103.2,124.4,101.5,127.5z" />
              <path d="M209.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8l36.6-68.2c1.7-3.2,5.7-4.3,8.8-2.6
                                C210.1,120.4,211.2,124.4,209.5,127.5L209.5,127.5z M168.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8
                                c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2C173.2,192.6,172.1,196.6,168.9,198.3L168.9,198.3z" />
              <path d="M240,128c0,0-12-1.2-12,9c0,8,5.7,10,14,13s15,4.3,20,13c4.2,7.4,4.3,21.1-6,29c-10.7,8.2-26.3,6.8-37,2c-4.5-2-4.2-7.3-3-9
                                s5.8-2.3,10,0s9.7,2.9,14,2c5.3-1.1,12.8-3.2,13-11s-2-10.5-12-14c-9-3.2-25.8-7.8-25-26c0.3-7.4,5.2-13,10.1-15.4
                                c7-3.5,13-3.8,17.9-2.6c3.8,1,17.3,5.7,14,12C253.6,138.5,245.8,128,240,128L240,128z" />
              <path d="M305,305V11H11v294H305 M316,316H0V0h316V316L316,316L316,316z" />
              <text style="font-family: 'Geometria', sans-serif;
                              font-size: 120px; fill: #fff;" x="400" y="130">AVSWEB</text>
              <text style="font-family: 'Geometria', sans-serif;
                              font-size: 80px; fill: #fff;" x="400" y="270">веб-студия</text>
            </svg>
          </a>
          <nav class="nav-main js-menu">
            <ul class="nav-main__list">
              <li class="nav-main__item"><a href="/" class="nav-main__link">Как это работает</a></li>
              <li class="nav-main__item"><a href="/" class="nav-main__link">Как размещать</a></li>
              <li class="nav-main__item"><a href="/" class="nav-main__link">Как получить</a></li>
            </ul>
          </nav>
          <button class="btn-menu js-btn-menu" type="button" aria-label="Переключатель меню">
            <svg class="btn-menu__open">
              <use xlink:href="../img/sprite.svg#icon-menu" />
            </svg>
            <svg class="btn-menu__close">
              <use xlink:href="../img/sprite.svg#icon-close" />
            </svg>
          </button>
        </div>
      </div>
    </header>
    <section class="intro">
      <div class="uk-container">
        <div class="intro__inner">
          <div class="intro__content">
            <h1 class="intro__title">Реферальная программа</h1>
            <div class="intro__offer">
              <div class="intro__offer-text">
                Привлеките клиента
                один раз и получайте
                вознаграждение
              </div>
              <div class="intro__offer-percent">
                5%
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="gain">
      <div class="uk-container">
        <h2 class="gain__section-title section-title section-title--dark">
          Сколько зарабатывают<br>
          наши партнёры в месяц?
        </h2>
        <ul class="gain__services" data-uk-switcher>
          <li class="gain__services-item">
            <a class="gain__services__link" href="#">
              Оформление соцсетей
            </a>
          </li>
          <li class="gain__services-item">
            <a class="gain__services__link" href="#">
              Дизайн сайта
            </a>
          </li>
          <li class="gain__services-item">
            <a class="gain__services__link" href="#">
              Продвижение сайта
            </a>
          </li>
        </ul>
        <ul class="gain__sum-variants uk-switcher">
          <li class="gain__sum">50 000 <span class="rubl">c</span></li>
          <li class="gain__sum">70 000 <span class="rubl">c</span></li>
          <li class="gain__sum">90 000 <span class="rubl">c</span></li>
        </ul>
        <a class="gain__btn btn" href="#register" data-uk-scroll>стать партнером</a>
      </div>
    </section>
    <section class="process">
      <div class="uk-container">
        <div class="process__inner">
          <h2 class="process__section-title section-title section-title--dark">Как это работает</h2>
          <ul class="process__steps">
            <li class="process__step">
              <div class="process-step">
                <div class="process-step__pic">
                  <svg class="process-step__icon" width="39" height="42">
                    <use xlink:href="../img/sprite.svg#icon-client" />
                  </svg>
                </div>
                <div class="process-step__text">
                  Вы привлекли
                  клиента
                </div>
              </div>
            </li>
            <li class="process__step">
              <div class="process-step">
                <div class="process-step__pic">
                  <svg class="process-step__icon" width="39" height="39">
                    <use xlink:href="../img/sprite.svg#icon-order" />
                  </svg>
                </div>
                <div class="process-step__text">
                  Мы получили
                  заказ
                </div>
              </div>
            </li>
            <li class="process__step">
              <div class="process-step">
                <div class="process-step__pic">
                  <svg class="process-step__icon" width="40" height="35">
                    <use xlink:href="../img/sprite.svg#icon-money" />
                  </svg>
                </div>
                <div class="process-step__text">
                  Вы получили
                  вознаграждение
                </div>
              </div>
            </li>
          </ul>
          <img class="process__hand-1" src="../img/hand-1.jpg" alt="">
          <img class="process__hand-2" src="../img/hand-2.jpg" alt="">
          <img class="process__hand-3" src="../img/hand-3.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="links">
      <div class="uk-container">
        <h2 class="links__section-title section-title section-title--dark">Где размещать ссылки</h2>
        <ul class="links__list">
          <li class="links__item">
            <div class="link-site">
              <svg class="link-site__icon">
                <use xlink:href="../img/sprite.svg#icon-check" />
              </svg>
              <h3 class="link-site__title">
                Cайты
              </h3>
              <div class="link-site__text">
                Рекламируйте нас
                посетителям вашего сайта.
              </div>
            </div>
          </li>
          <li class="links__item">
            <div class="link-site">
              <svg class="link-site__icon">
                <use xlink:href="../img/sprite.svg#icon-check" />
              </svg>
              <h3 class="link-site__title">
                Социальные сети
              </h3>
              <div class="link-site__text">
                Расскажите о выгодных
                акциях и своих удачных
                покупках в REG.RU.
              </div>
            </div>
          </li>
          <li class="links__item">
            <div class="link-site">
              <svg class="link-site__icon">
                <use xlink:href="../img/sprite.svg#icon-check" />
              </svg>
              <h3 class="link-site__title">
                Прочее
              </h3>
              <div class="link-site__text">
                Расскажите о выгодных
                акциях и своих удачных
                покупках в REG.RU.
              </div>
            </div>
          </li>
          <li class="links__item">
            <div class="link-site">
              <svg class="link-site__icon">
                <use xlink:href="../img/sprite.svg#icon-check" />
              </svg>
              <h3 class="link-site__title">
                Прочее
              </h3>
              <div class="link-site__text">
                Расскажите о выгодных
                акциях и своих удачных
                покупках в REG.RU.
              </div>
            </div>
          </li>
          <li class="links__item">
            <div class="link-site">
              <svg class="link-site__icon">
                <use xlink:href="../img/sprite.svg#icon-check" />
              </svg>
              <h3 class="link-site__title">
                Прочее
              </h3>
              <div class="link-site__text">
                Расскажите о выгодных
                акциях и своих удачных
                покупках в REG.RU.
              </div>
            </div>
          </li>
          <li class="links__item">
            <div class="link-site">
              <svg class="link-site__icon">
                <use xlink:href="../img/sprite.svg#icon-check" />
              </svg>
              <h3 class="link-site__title">
                Прочее
              </h3>
              <div class="link-site__text">
                Расскажите о выгодных
                акциях и своих удачных
                покупках в REG.RU.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="promo">
      <div class="uk-container">
        <h2 class="section-title section-title--dark">Как размещать?</h2>
        <div class="promo__desc">
          Реферальная ссылка или купон
        </div>
        <a class="promo__btn btn" href="#register" data-uk-scroll>Получить</a>
      </div>
    </section>
    <section class="reward">
      <div class="reward__bg-1"></div>
      <div class="reward__bg-2"></div>
      <div class="reward__content">
        <div class="uk-container">
          <h2 class="reward__section-title section-title section-title--light">Какой процент вознаграждения?</h2>
          <div class="reward__items">
            <div class="reward-item reward-item--left">
              <div class="reward-item__percent">
                5%
              </div>
              <div class="reward-item__desc">
                на создание сайта
              </div>
            </div>
            <div class="reward-item reward-item--right">
              <div class="reward-item__percent">
                7%
              </div>
              <div class="reward-item__desc">
                на рекламу
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="payment">
      <div class="uk-container">
        <h2 class="payment__section-title section-title section-title--dark">Как получить</h2>
        <ul class="payment__list">
          <li class="payment__list-item">
            <div class="payment-item">
              <svg class="payment-item__icon" width="64" height="57">
                <use xlink:href="../img/sprite.svg#icon-card"/>
              </svg>
              <h3 class="payment-item__title">
                На карту
              </h3>
              <div class="payment-item__desc">
                Получайте деньги на карту сразу
                после оплаты клиентом проекта
              </div>
            </div>
          </li>
          <li class="payment__list-item">
            <div class="payment-item">
              <svg class="payment-item__icon" width="30" height="57">
                <use xlink:href="../img/sprite.svg#icon-mobile"/>
              </svg>
              <h3 class="payment-item__title">
                Счет мобильного
              </h3>
              <div class="payment-item__desc">
                Получайте деньги на карту сразу
                после оплаты клиентом проекта
              </div>
            </div>
          </li>
          <li class="payment__list-item">
            <div class="payment-item">
              <svg class="payment-item__icon" width="67" height="59">
                <use xlink:href="../img/sprite.svg#icon-rubl"/>
              </svg>
              <h3 class="payment-item__title">
                Электронные деньги
              </h3>
              <div class="payment-item__desc">
                Получайте деньги на карту сразу
                после оплаты клиентом проекта
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="materials">
      <div class="uk-container">
        <h2 class="materials__section-title section-title section-title--dark">
          Партнёрские материалы
        </h2>
        <div class="materials__desc">
          Мы подготовим баннеры, которые смогут использовать наши партнёры
        </div>
        <div class="materials__images">
          <div class="material-item material-item--1 material-item--narrow">
            <img src="../img/material-1.jpg" alt="">
          </div>
          <div class="material-item material-item--2 material-item--wide"> 
            <img src="../img/material-2.jpg" alt="">
          </div>
          <div class="material-item material-item--3 material-item--narrow"> 
            <img src="../img/material-1.jpg" alt="">
          </div>
          <div class="material-item material-item--4 material-item--wide"> 
            <img src="../img/material-4.jpg" alt="">
          </div>
        </div>
        <a class="materials__btn btn" href="#">Скачать</a>
      </div>
    </section>
    <section class="register">
      <div class="uk-container">
        <h2 class="register__section-title section-title section-title--light">
          Форма регистрации
        </h2>
        <form class="form-register">
          <div class="form-register__columned-row">
            <div class="form-register__field">
              <label class="form-register__label js-register-field">
                <span class="form-register__label-text js-register-label">
                  Ваше имя
                </span>
                <input class="form-register__input js-register-input" type="text" required>
              </label>
            </div>
            <div class="form-register__field">
              <label class="form-register__label js-register-field">
                <span class="form-register__label-text js-register-label">
                  Email
                </span>
                <input class="form-register__input js-register-input" type="email" required>
              </label>
            </div>
          </div>
          <div class="form-register__row">
            <label class="form-register__label js-register-field">
              <span class="form-register__label-text js-register-label">
                Сфера деятельности
              </span>
              <input class="form-register__input js-register-input" type="text" required>
            </label>
          </div>
          <div class="form-register__agreement">
            <input class="form-register__checkbox-input" id="agreement" type="checkbox">
            <label class="form-register__checkbox-label" for="agreement">
             Согласие на обработку  <a class="form-register__agreement-link" href="#">персональных данных</a>
            </label>
          </div>
          <button class="form-register__btn btn" type="submit">отправить</button>
        </form>
      </div>
    </section>
    <footer class="main-footer">
      <div class="uk-container">
        <div class="main-footer__inner">
          <div class="main-footer__policy">
            <a class="main-footer__link" href="#">
              Политика конфиденциальности
            </a>
            <a class="main-footer__link" href="#">
              Персональные данные
            </a>
          </div>
          <a class="main-footer__devs" href="#" aria-label="Сайт разработчиков">
            <svg xmlns="http://www.w3.org/2000/svg" width="125" height="40" fill="#827a71" viewBox="0 0 936 316">
              <path d="M136.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2
                C141.2,192.6,140.1,196.6,136.9,198.3L136.9,198.3z M101.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8
                l36.6-68.2c1.2-2.2,3.5-3.5,5.9-3.4c0.1,0,0.5,0,0.5,0c0.1,0,0.6,0,0.7,0c0.8,0.1,1,0.4,1.7,0.8
                C102.1,120.4,103.2,124.4,101.5,127.5z" />
              <path d="M209.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8l36.6-68.2c1.7-3.2,5.7-4.3,8.8-2.6
                C210.1,120.4,211.2,124.4,209.5,127.5L209.5,127.5z M168.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8
                c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2C173.2,192.6,172.1,196.6,168.9,198.3L168.9,198.3z" />
              <path d="M240,128c0,0-12-1.2-12,9c0,8,5.7,10,14,13s15,4.3,20,13c4.2,7.4,4.3,21.1-6,29c-10.7,8.2-26.3,6.8-37,2c-4.5-2-4.2-7.3-3-9
                s5.8-2.3,10,0s9.7,2.9,14,2c5.3-1.1,12.8-3.2,13-11s-2-10.5-12-14c-9-3.2-25.8-7.8-25-26c0.3-7.4,5.2-13,10.1-15.4
                c7-3.5,13-3.8,17.9-2.6c3.8,1,17.3,5.7,14,12C253.6,138.5,245.8,128,240,128L240,128z" />
              <path d="M305,305V11H11v294H305 M316,316H0V0h316V316L316,316L316,316z" />
              <text style="font-family: 'Open Sans', sans-serif;
              font-size: 110px; fill: #827a71;" x="400" y="130">Сделано в</text>
              <text style="font-family: 'Open Sans', sans-serif;
              font-size: 110px; letter-spacing: 3px; fill: #827a71;" x="400" y="270" textLength="550">#avsweb</text>
            </svg>
          </a>
        </div>
      </div>
    </footer>
  </div>
  <script src="bundle.js"></script>
</body>

</html>