.reward-item {
  width: 50%;
  margin: 0 20px;
  &--left {
    text-align: right;
  }
  &--right {
    text-align-last: left;
  }
}

.reward-item__percent {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  @media (min-width: $breakpoint-small) {
    font-size: 150px;
  }
}

.reward-item__desc {
  color: rgba(255,255,255,0.5);
  font-size: 16px;
  font-weight: 700;
  @media (min-width: $breakpoint-small) {
    font-size: 24px;
  }
}
